In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
df=pd.read_csv('Stress.csv')

In [6]:
df

,subreddit,post_id,sentence_range,text,label,confidence,social_timestamp
0,ptsd,8601tu,"(15, 20)","He said he had not felt that way before, sugge...",1,0.800000,1521614353
1,assistance,8lbrx9,"(0, 5)","Hey there r/assistance, Not sure if this is th...",0,1.000000,1527009817
2,ptsd,9ch1zh,"(15, 20)",My mom then hit me with the newspaper and it s...,1,0.800000,1535935605
3,relationships,7rorpp,"[5, 10]","until i met my new boyfriend, he is amazing, h...",1,0.600000,1516429555
4,survivorsofabuse,9p2gbc,"[0, 5]",October is Domestic Violence Awareness Month a...,1,0.800000,1539809005
...,...,...,...,...,...,...,...
2833,relationships,7oee1t,"[35, 40]","* Her, a week ago: Precious, how are you? (I i...",0,1.000000,1515187044
2834,ptsd,9p4ung,"[20, 25]",I don't have the ability to cope with it anymo...,1,1.000000,1539827412
2835,anxiety,9nam6l,"(5, 10)",In case this is the first time you're reading ...,0,1.000000,1539269312
2836,almosthomeless,5y53ya,"[5, 10]",Do you find this normal? They have a good rela...,0,0.571429,1488938143
2837,ptsd,5y25cl,"[0, 5]",I was talking to my mom this morning and she s...,1,0.571429,1488909516

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2838 entries, 0 to 2837
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   subreddit         2838 non-null   object
 1   post_id           2838 non-null   object
 2   sentence_range    2838 non-null   object
 3   text              2838 non-null   object
 4   label             2838 non-null   int64
 5   confidence        2838 non-null   float64
 6   social_timestamp  2838 non-null   int64
dtypes: float64(1), int64(2), object(4)
memory usage: 155.3+ KB

In [10]:
df.describe()

             label   confidence  social_timestamp
count  2838.000000  2838.000000      2.838000e+03
mean      0.524313     0.808972      1.518107e+09
std       0.499497     0.177038      1.552209e+07
min       0.000000     0.428571      1.483274e+09
25%       0.000000     0.600000      1.509698e+09
50%       1.000000     0.800000      1.517066e+09
75%       1.000000     1.000000      1.530898e+09
max       1.000000     1.000000      1.542592e+09

In [12]:
df.isnull()

,subreddit,post_id,sentence_range,text,label,confidence,social_timestamp
0,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
2833,False,False,False,False,False,False,False
2834,False,False,False,False,False,False,False
2835,False,False,False,False,False,False,False
2836,False,False,False,False,False,False,False
2837,False,False,False,False,False,False,False

In [14]:
df.isnull().sum()

subreddit           0
post_id             0
sentence_range      0
text                0
label               0
confidence          0
social_timestamp    0
dtype: int64

In [16]:
df.columns

Index(['subreddit', 'post_id', 'sentence_range', 'text', 'label', 'confidence',
       'social_timestamp'],
      dtype='object')

In [20]:
df['subreddit'].value_counts()

subreddit
ptsd                584
relationships       552
anxiety             503
domesticviolence    316
assistance          289
survivorsofabuse    245
homeless            168
almosthomeless       80
stress               64
food_pantry          37
Name: count, dtype: int64

In [22]:
df['len']=[len(text) for text in df['text']]

In [24]:
df.head()

,subreddit,post_id,sentence_range,text,label,confidence,social_timestamp,len
0,ptsd,8601tu,"(15, 20)","He said he had not felt that way before, sugge...",1,0.8,1521614353,571
1,assistance,8lbrx9,"(0, 5)","Hey there r/assistance, Not sure if this is th...",0,1.0,1527009817,588
2,ptsd,9ch1zh,"(15, 20)",My mom then hit me with the newspaper and it s...,1,0.8,1535935605,847
3,relationships,7rorpp,"[5, 10]","until i met my new boyfriend, he is amazing, h...",1,0.6,1516429555,1277
4,survivorsofabuse,9p2gbc,"[0, 5]",October is Domestic Violence Awareness Month a...,1,0.8,1539809005,533

In [28]:
remove_cols=['post_id','sentence_range','confidence','social_timestamp']
#df.drop(remove_cols=1, inplace=True)
df.drop(remove_cols,axis=1,inplace=True)

In [30]:
df.head()

,subreddit,text,label,len
0,ptsd,"He said he had not felt that way before, sugge...",1,571
1,assistance,"Hey there r/assistance, Not sure if this is th...",0,588
2,ptsd,My mom then hit me with the newspaper and it s...,1,847
3,relationships,"until i met my new boyfriend, he is amazing, h...",1,1277
4,survivorsofabuse,October is Domestic Violence Awareness Month a...,1,533

In [32]:
df.groupby('subreddit')['len'].describe().sort_values('count', ascending=False)

,count,mean,std,min,25%,50%,75%,max
subreddit,,,,,,,,
ptsd,584.0,435.296233,157.677362,6.0,330.00,417.5,524.25,1271.0
relationships,552.0,463.898551,167.292838,142.0,354.00,428.0,539.00,1277.0
anxiety,503.0,447.763419,168.015419,6.0,338.00,418.0,532.50,1358.0
domesticviolence,316.0,436.512658,165.901395,6.0,335.00,406.5,512.25,1308.0
assistance,289.0,429.705882,143.763236,32.0,339.00,417.0,503.00,915.0
survivorsofabuse,245.0,473.485714,194.551557,88.0,348.00,437.0,559.00,1606.0
homeless,168.0,449.851190,177.114248,155.0,342.75,425.5,525.25,1281.0
almosthomeless,80.0,447.412500,208.517777,116.0,329.50,417.5,519.00,1639.0
stress,64.0,505.593750,203.001816,172.0,361.50,492.5,601.25,1354.0
food_pantry,37.0,379.756757,151.760302,89.0,284.00,357.0,459.00,717.0

In [34]:
df.describe()

             label          len
count  2838.000000  2838.000000
mean      0.524313   447.996476
std       0.499497   168.929122
min       0.000000     6.000000
25%       0.000000   339.000000
50%       1.000000   421.000000
75%       1.000000   528.750000
max       1.000000  1639.000000